//_global.scss
$dark-green-title:#025157;
$dark-green-text:#135359;
$white : #FFFFFFFF;
$grey: #4a4a4a;
$light-green : #67b54b;
$light-grey: #979797;

/*fuentes*/
$font-title: "Alegreya", serif;

%base-title{
    font-family:$font-title;
    color: $dark-green-text;
}