@use 'global' as *;

body {
    background-color: #fffbf7 !important;
    margin: 0;
    font-family: "Open Sans", sans-serif;
  }
  
  .navbar {
    background-color: #fffbf7;
    text-align: center;
    color: #025157;
    font-weight: 500;
  
    ul {
      padding: 0;
    }
  }
  
  .actions {
    text-align: right;
    font-size: 14px;
  
    & > * {
      margin: 0 10px;
    }
  
    a {
      color: #67b54b;
    }
  
    button {
      background-color: #67b54b;
      color: white;
      padding: 12px 14px;
      border: 0;
      border-radius: 5px;
    }
  }


  
  .top-features {
    padding: 30px 0 65px;
    margin-top: 150px;
  }

  .flecha{
    margin: 0 auto;
    height: 130px;
    width: 130px;
    margin-bottom: 35px;
    .flecha-contenedor{
        position: relative;
        .flecha-animada{
            position: absolute;
            animation-name: up-down, alrededor;
            animation-duration: 3s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            img{
                width: 130px;
                transform: rotate(-90deg);
            }
        }
        @keyframes alrededor {
            from {left: -300px;}
            to {left: 300px;}
          }
        @keyframes up-down {
            0%{
                top: 0;
            }
            25%{
                top: -30px;
            }
            50%{
                top: -60px;
            }
            75%{
                top: -0px;
            }
            100%{
                top: 0;
            }
            
        }
    }
  }
  
  .section-title {
    text-align: center;
    margin-bottom: 60px;
  
    h1 {
      color: #025157;
      font-family: 'Alegreya', serif;
      font-weight: 700;
    }
  }
  
  .feature__img {
    img {
      width: 100%;
    }
  }
  
  .feature__title__anchor {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: 24px;
  
    .feature__title {
      margin-top: 50px;
      font-weight: 500;
      font-size: 24px;
      font-family: 'Open Sans',sans-serif;
      margin-bottom: 35px;
      text-decoration: none;
      color: inherit;
      text-shadow: #025157 1px 1px 2px;
      transition: color .3s ease-in-out;
      transition: font-size 2s;
      &:hover{
          color: $light-green;
          font-size: 35px;
      }
    }
  }