body{
    background-color:beige;
}

h1{
    color: #46484c;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
p{
    color: #8b8b8bcc;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
h2{
    text-align: end;
}

li{
    color:blueviolet;
}

button{
    color: #fff;
    background-color: #025157;
}
.header{
    /*
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;*/
    margin: 40px 20px 0;
    font-size: 0;
}
.fix-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}
li{
    display: inline;
    color: #025157;
}
.header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 45px;
    font-family: sans-serif;
    vertical-align: middle;
}
.logo{
    width: 15%;
}
.logo img{
    width: 50%;
}
.navbar{
    width: 70%;
    text-align: left;
    font-weight: 500;
}
.menu{
    margin-left: 25px;
    margin-right: 25px;
}
.actions{
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}
.actions >* {
    margin-left: 10px;
    margin-right: 10px;
}
.actions a{
    color: #67b54b ;
}
.actions button{
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    border-radius: 5px;
}
.main{
    margin-top: 285px;
    text-align: center;
}

.article{
    margin-left: 30px;
}
.article > h3{
    
    font-family: 'Dancing Script', cursive;
    color: #025157;
}

.article p{
    color: #343434;
}
.article > form p{
    color: #025157;
}
.promo{
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}
.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-container > img{
    width: 20%;
    margin-top: 10px;
}