body{
    background-color: #fffbf7;
}

h1{
    color: #46484c;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
h2{
    text-align: end;
}


li{
    color:blueviolet;
}
p{
    color: #8b8b8bcc;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

button{
    color: #fff;
    background-color: #025157;
}
.header{
    /*
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;*/
    margin: 40px 20px 0;
    font-size: 0;
}
li{
    display: inline;
    color: #025157;
}
.header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 45px;
    font-family: sans-serif;
    vertical-align: middle;
}
.logo{
    width: 15%;
}
.logo img{
    width: 100%;
}
.navbar{
    width: 70%;
    text-align: left;
    font-weight: 500;
}
.menu{
    margin-left: 25px;
    margin-right: 25px;
}
.actions{
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}
.actions >* {
    margin-left: 10px;
    margin-right: 10px;
}
.actions a{
    color: #67b54b ;
}
.actions button{
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    border-radius: 5px;
}
.main{
    margin-top: 140px;
    text-align: center;
}