body{
    background-color: #fffbf7;
}

h1{
    color: #46484c;
    text-align: center;
}
h2{
    text-align: end;
}


li{
    color:blueviolet;
}
p{
    color: #8b8b8bcc;
}

button{
    color: #fff;
    background-color: #025157;
}